.vscode/
npm-debug.log

app/**/*.js
**/*.js.map
hooks/
lib/
!/lib/iOS/TelerikAppFeedback.framework/Info.plist
!/lib/iOS/TelerikUI.framework/Info.plist
!/lib/iOS/TNSWidgets.framework/Info.plist
node_modules/

/platforms/*

tmp/
typings/
*.orig

.DS_Store

app/app\.android\.css

#google-services
app/App_Resources/Android/google-services.json
